html{
    scroll-behavior: smooth;
}

#tampa{
    background-color:rgba(255, 236, 245, 0.582); 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0px;
    display: none;
}

#entreEmContato
{
    position: fixed;
    background-color: white;
    width: 26%;
    left: 35%;
    top: 22%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10%;
}

#x{
    width: 7%;
    margin-left: 80%;
    margin-top: 5%;
}

#x:hover{
    background-color: #F6F5FF;
}

.entreEmContatoImg
{
    width: 50%;
    padding: 10%;
}

.entreEmContatoImg:hover{
    background-color: #F6F5FF;
}

#tituloEntreEmContato{
    font-family:  Century Gothic;
    font-size: 200%;
    width: 95%;
    margin-left: 5%;
}

.agendarConsulta{
    display: block;
    margin: 0%;
}

#whatsappImg{
    position: fixed;
    z-index: 1;
    left: 92%;
    top: 85%;
    width: 4%;
}

#whatsappImg:hover{
    opacity: 0.8;
    width: 4.2%;
}

#header{
    text-align: center;
    position: fixed;
    width:101%;
    left: 0px;
    background-color: white;
    z-index: 3;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.192);
}

#abreMenu{
    display: none;
}

#menu{
    display: block;
    margin-top: 4%;
}

#menuMobile{
    display: none;
}

#logoMenu{
    width: 70%;
    margin-left: 25%;
    margin-right: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
}


.escritosMenu{
    text-decoration: none;
    font-family:  Century Gothic;
    font-size: 150%;
    margin-left: 8%;
    padding: 0%;
    color:black;
}

.escritosMenu:hover{
    color: #e90074;
}

.botao{
    background-color: #4A467D;
    color: white;
    font-family:  Century Gothic;
    font-size: 150%;
    border: none;
    border-radius: 50px;
    padding: 1%;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.192);
}

.botao:hover{
    transition: all 0.1s linear ;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.192);
    background-color: #7167fd;
}

#botaoMenu{
    margin-left: 8%;
}


#sobreMim1
{
    background-image: linear-gradient(to bottom, #F6F5FF, #F6F5FF,#F6F5FF, white) ;
    height: 800px;
}

#logoEscrita
{
    margin-top: 30%;
    margin-left: 21%;
}

#escritosMain{
    margin-left: 15%;
    margin-top: 2%;
}

#sobreMimTitulo{
    font-family:  Century Gothic;
    font-size: 220%;
    font-weight: normal;
    display: block;
}

#sobreMimTexto{
    font-family:  Bahnschrift;
    font-size: 125%;
    font-weight: normal;
    display: inline;
}

#saberMais{
    margin-left: 35%;
    margin-top: 3%;
}

#saberMaisH1{
    font-family:  Bahnschrift;
    font-size: 240%;
    font-weight: normal;
    margin-left: 1%;
}

#logoSemNome{
    position: absolute;
    top: 30%;
    left: 60%;
    width: 30%;
}

#logoSemNome:hover{
    transition: all 1s linear;
    top:28%;
    width: 33%;
}


#sobreMim2{
    background-color: #ffffff;
}

#fotoMarcia{
    width: 40%;
    margin-left: 9%;
    margin-top: 10%;
}

#oval
{
    background-color: #F6F5FF;
}

#tituloOval{
    font-family: Century Gothic;
    font-size: 250%;
    margin-left: 14%;
    margin-top: 35%;
    font-weight: normal;
}

#ovalTexto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    width: 70%;
    margin-left: 14%;
    font-weight: normal;
    line-height: 150%;
}

#sobreMim3{
    background-color: #F6F5FF;
}

#insta1{
    width: 39.5%;
    margin-left: 7.3%;
}

#insta1:hover{
    transition: all 0.5s linear;
    opacity: 0.1;
}

#insta2{
    width: 42%;
}

#insta2:hover{
    transition: all 0.5s linear;
    opacity: 0.1;
}

#insta1Hover{
    width: 80%;
    margin-left: 15%;
}

#insta2Hover{
    width: 85.5%;
}

#sobreMim4{
    background-color: #ffffff;
}

#feedbacks{
    font-family: Century Gothic;
    font-size: 200%;
    margin-left: 8%;
    margin-top: 4%;
    margin-bottom: 2%;
}

#psicologiaViva{
    margin-left: 7.4%;
    width: 30%;
}

#psicologiaViva:hover{
    transition: all 0.5s linear;
    opacity: 0.1;
}

#psicologiaVivaHover{
    margin-left: 15%;
    width: 61%;
}

#zenklub{
    width: 41%;
}

#zenklub:hover{
    transition: all 0.5s linear;
    opacity: 0.1;
}

#zenklubHover{
    width: 83%;
}

#quest1{
   padding-top: 10%;
}

#quest{
    margin-top: 3%;
    padding-bottom: 2.5%;
    padding-left: 8%;
    border-bottom: 1px solid rgb(186, 186, 186);
}

.textQuest{
    display: none;
    font-family: Century Gothic;
}

#setaBaixo1{
    display: none;
    width: 1.8%;
    right: 5%;
    margin-top: 0.2%;
}

#setaBaixo2{
    display: none;
    width: 1.8%;
    right: 5%;
    margin-top: 0.2%;
}

#setaBaixo3{
    display: none;
    width: 1.8%;
    right: 5%;
    margin-top: 0.2%;
}


.tituloQuest{
    font-family: EngraversGothic BT;
    font-size: 150%;
}

#outrasDuvidas{
    margin-top: 3%;
    padding-bottom: 2%;
    padding-left: 8%;
    border-bottom: 1px solid rgb(186, 186, 186);
}

.seta{
    width: 20%;
}

#botaoQuest{
    margin-left: 15%;
    margin-bottom: 1%;
}

#footer{
    position: absolute;
    left: 0px;
    width: 101%;
    background-color: #4A467D;
}

#rodapeMobile{
    display: none;
    margin-left: 7%;
    width: 101%;
}


@media (max-width: 576px) {
    #header{
        z-index: 3;
        text-align: left;
        width: 105%;
    }

    #tampa{
        z-index: 10;
    }

    #entreEmContato{
        width: 100%;
        left: 0%;
        top: 0%;
        height: 100%;
        border-radius: 0px;
    }

    #x{
        width: 4%;
        margin-left: 80%;
        margin-bottom: 10%;
    }
    
    #x:hover{
        background-color: #F6F5FF;
    }
    
    .entreEmContatoImg
    {
        width: 40%;
        padding: 0%;
        margin-top: 25%;
    }
    
    #tituloEntreEmContato{
        font-family:  Century Gothic;
        font-size: 120%;
        margin-top: 2%;
        width: 100%;
        margin-left: 0%;
    }
    
    #whatsappImg{
        position: fixed;
        z-index: 1;
        left: 84%;
        top: 88%;
        width: 9%;
    }
    
    #whatsappImg:hover{
        width: 7%;
    }
    
    
    #menuMobile{
        width: 100%;
        height: 100%;
        margin-top: 4%;
        display: none;
        text-align: center;
    }

    #menu{
        width: 100%;
        height: 100%;
        margin-top: 4%;
        display: none;
        text-align: center;
    }
    
    #logoMenu{
        width: 20%;
        margin-left: 7%;
        margin-right: 0%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    
    .escritosMenu{
        display: block;
        text-decoration: none;
        font-family:  Century Gothic;
        font-size: 150%;
        margin-left: 0%;
        margin-top: 10%;
        padding: 0%;
        color:black;
    }
    
    .escritosMenu:hover{
        color: #e90074;
    }
    
    .botao{
        background-color: #4A467D;
        color: white;
        font-family:  Century Gothic;
        font-size: 150%;
        border: none;
        border-radius: 50px;
        padding: 1%;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.192);
    }
    
    .botao:hover{
        transition: all 0.1s linear ;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.192);
        background-color: #7167fd;
    }
    
    #botaoMenu{
        width: 50%;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: 25%;
    }

    #abreMenu{
        display: inline;
        position: absolute;
        width: 10%;
        right: 5%;
        top:40px;
    }

    #sobreMim1
    {
        background-color: #F6F5FF;
        height: 100%;
        text-align: center;
    }

    #logoEscrita
    {
        margin-top: 35%;
        margin-left: 0%;
        width: 55%;
    }

    #escritosMain{
        margin-left: 5%;
        margin-top: 5%;
        width: 90%;
    }

    #sobreMimTitulo{
        font-family:  Century Gothic;
        font-size: 120%;
        font-weight: normal;
        display: inline;
    }

    #sobreMimTexto{
        font-family:  Bahnschrift;
        font-size: 90%;
        font-weight: normal;
        display: inline;
    }

    #saberMais{
        margin-left: 0%;
        margin-top: 3%;
    }

    #saberMaisH1{
        font-family:  Bahnschrift;
        font-size: 140%;
        font-weight: normal;
        margin-left: 0%;
    }

    #logoSemNome{
        position:static;
        margin-top: 7%;
        margin-left: 7%;
        margin-bottom: 7%;
        width: 60%;
    }

    #logoSemNome:hover{
        transition: all 1s linear;
        margin-left: 7%;
        width: 60%;
    }

    #botaoSaberMais{
        margin-bottom: 20%;
    }

    #sobreMim2{
        background-color: #ffffff;
        text-align: center;
    }
    
    #fotoMarcia{
        width: 80%;
        margin-left: 10%;
        margin-top: 30%;
    }
    
    #oval
    {
        background-color: #F6F5FF;
        text-align: left;
    }
    
    #tituloOval{
        font-family: Century Gothic;
        font-size: 250%;
        margin-left: 14%;
        margin-top: 35%;
        font-weight: normal;
    }
    
    #ovalTexto{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
        width: 70%;
        margin-left: 14%;
        font-weight: normal;
        line-height: 150%;
    }
    
    #sobreMim3{
        background-color: #F6F5FF;
        text-align: center;
    }
    
    #insta1{
        position: static !important;
        margin-top: 30%;
        width: 100%;
        margin-left: 0%;
    }
    
    #insta1:hover{
        transition: all 0.5s linear;
        opacity: 1;
    }
    
    #insta2{
        margin-top: 10%;
        width: 100%;
        position: static !important;
    }
    
    #insta2:hover{
        transition: all 0.5s linear;
        opacity: 1;
    }
    
    #insta1Hover{
        display: none;
        width: 80%;
        margin-left: 15%;
    }
    
    #insta2Hover{
        display: none;
        width: 85.5%;
    }
    
    #sobreMim4{
        background-color: #ffffff;
        text-align: center;
    }
    
    #feedbacks{
        font-family: Century Gothic;
        font-size: 150%;
        margin-left: 0%;
        margin-top: 30%;
        margin-bottom: 2%;
    }
    
    #psicologiaViva{
        position: static !important;
        margin-left: 5%;
        width: 90%;
        margin-top: 10%;
    }
    
    #psicologiaViva:hover{
        transition: all 0.5s linear;
        opacity: 1;
    }
    
    #psicologiaVivaHover{
        display: none;
        margin-left: 15%;
        width: 61%;
    }
    
    #zenklub{
        margin-top: 10%;
        position: static !important;
        width: 100%;
    }
    
    #zenklub:hover{
        transition: all 0.5s linear;
        opacity: 1;
    }
    
    #zenklubHover{
        display: none;
        width: 83%;
    }

    #terapia{
        text-align: center;
    }
    
    #quest1{
        margin-top: 30%;
        padding-top: 0%;
    }
    
    #quest{
        margin-top: 3%;
        padding-bottom: 2.5%;
        padding-left: 0%;
        border-bottom: 1px solid rgb(186, 186, 186);
    }
    
    .textQuest{
        display: block;
        font-family: Century Gothic;
    }
    
    #setaBaixo1{
        display: none;
        width: 1.8%;
        right: 5%;
        margin-top: 0.2%;
    }
    
    #setaBaixo2{
        display: none;
        width: 1.8%;
        right: 5%;
        margin-top: 0.2%;
    }
    
    #setaBaixo3{
        display: none;
        width: 1.8%;
        right: 5%;
        margin-top: 0.2%;
    }
    
    
    .tituloQuest{
        font-family: EngraversGothic BT;
        font-size: 150%;
    }
    
    #outrasDuvidas{
        text-align: center;
        margin-top: 3%;
        padding-bottom: 2%;
        padding-left: 0%;
        border-bottom: 1px solid rgb(186, 186, 186);
    }
    
    .seta{
        display: none;
        width: 20%;
    }
    
    #botaoQuest{
        margin-left: 0%;
        margin-bottom: 20%;
    }
    
    #footer{
        position: absolute;
        left: 0px;
        width: 105%;
    }   
    
    #rodape{
        display: none;
    }

    #rodapeMobile{
        display: inline;
        margin-left: 0%;
        width: 100%;
    }
}

@media screen and (max-width: 900px) and (min-width: 576px) {
    #header{
        z-index: 3;
        text-align: left;
        width: 103%;
    }

    #tampa{
        z-index: 10;
    }

    #entreEmContato{
        width: 100%;
        left: 0%;
        top: 0%;
        height: 100%;
        border-radius: 0px;
    }

    #x{
        width: 4%;
        margin-left: 80%;
        margin-bottom: 10%;
    }
    
    #x:hover{
        background-color: #F6F5FF;
    }
    
    .entreEmContatoImg
    {
        width: 20%;
        padding: 0%;
        margin-top: 1%;
    }
    
    #tituloEntreEmContato{
        font-family:  Century Gothic;
        font-size: 120%;
        margin-top: 0%;
        width: 100%;
        margin-left: 0%;
    }
    
    #whatsappImg{
        position: fixed;
        z-index: 1;
        left: 84%;
        top: 75%;
        width: 9%;
    }
    
    #whatsappImg:hover{
        width: 7%;
    }
    
    
    #menuMobile{
        width: 100%;
        height: 100%;
        margin-top: 4%;
        display: none;
        text-align: center;
    }

    #menu{
        width: 100%;
        height: 100%;
        margin-top: 4%;
        display: none;
        text-align: center;
    }
    
    #logoMenu{
        width: 20%;
        margin-left: 7%;
        margin-right: 0%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    
    .escritosMenu{
        display: block;
        text-decoration: none;
        font-family:  Century Gothic;
        font-size: 150%;
        margin-left: 0%;
        margin-top: 2%;
        padding: 0%;
        color:black;
    }
    
    .escritosMenu:hover{
        color: #e90074;
    }
    
    .botao{
        background-color: #4A467D;
        color: white;
        font-family:  Century Gothic;
        font-size: 150%;
        border: none;
        border-radius: 50px;
        padding: 1%;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.192);
    }
    
    .botao:hover{
        transition: all 0.1s linear ;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.192);
        background-color: #7167fd;
    }
    
    #botaoMenu{
        width: 50%;
        margin-top: 5%;
        margin-bottom: 10%;
        margin-left: 25%;
    }

    #abreMenu{
        display: inline;
        position: absolute;
        width: 7%;
        right: 5%;
        top:40px;
    }

    #sobreMim1
    {
        background-color: #F6F5FF;
        height: 100%;
        text-align: center;
    }

    #logoEscrita
    {
        margin-top: 35%;
        margin-left: 0%;
        width: 55%;
    }

    #escritosMain{
        margin-left: 5%;
        margin-top: 5%;
        width: 90%;
    }

    #sobreMimTitulo{
        font-family:  Century Gothic;
        font-size: 120%;
        font-weight: normal;
        display: inline;
    }

    #sobreMimTexto{
        font-family:  Bahnschrift;
        font-size: 90%;
        font-weight: normal;
        display: inline;
    }

    #saberMais{
        margin-left: 0%;
        margin-top: 3%;
    }

    #saberMaisH1{
        font-family:  Bahnschrift;
        font-size: 140%;
        font-weight: normal;
        margin-left: 0%;
    }

    #logoSemNome{
        position:static;
        margin-top: 7%;
        margin-left: 7%;
        margin-bottom: 7%;
        width: 60%;
    }

    #logoSemNome:hover{
        transition: all 1s linear;
        margin-left: 7%;
        width: 60%;
    }

    #botaoSaberMais{
        margin-bottom: 20%;
    }

    #sobreMim2{
        background-color: #ffffff;
        text-align: center;
    }
    
    #fotoMarcia{
        width: 80%;
        margin-left: 10%;
        margin-top: 30%;
    }
    
    #oval
    {
        background-color: #F6F5FF;
        text-align: left;
    }
    
    #tituloOval{
        font-family: Century Gothic;
        font-size: 250%;
        margin-left: 14%;
        margin-top: 35%;
        font-weight: normal;
    }
    
    #ovalTexto{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 120%;
        width: 70%;
        margin-left: 14%;
        font-weight: normal;
        line-height: 150%;
    }
    
    #sobreMim3{
        background-color: #F6F5FF;
        text-align: center;
    }
    
    #insta1{
        position: static !important;
        margin-top: 30%;
        width: 100%;
        margin-left: 0%;
    }
    
    #insta1:hover{
        transition: all 0.5s linear;
        opacity: 1;
    }
    
    #insta2{
        margin-top: 10%;
        width: 100%;
        position: static !important;
    }
    
    #insta2:hover{
        transition: all 0.5s linear;
        opacity: 1;
    }
    
    #insta1Hover{
        display: none;
        width: 80%;
        margin-left: 15%;
    }
    
    #insta2Hover{
        display: none;
        width: 85.5%;
    }
    
    #sobreMim4{
        background-color: #ffffff;
        text-align: center;
    }
    
    #feedbacks{
        font-family: Century Gothic;
        font-size: 150%;
        margin-left: 0%;
        margin-top: 30%;
        margin-bottom: 2%;
    }
    
    #psicologiaViva{
        position: static !important;
        margin-left: 5%;
        width: 90%;
        margin-top: 10%;
    }
    
    #psicologiaViva:hover{
        transition: all 0.5s linear;
        opacity: 1;
    }
    
    #psicologiaVivaHover{
        display: none;
        margin-left: 15%;
        width: 61%;
    }
    
    #zenklub{
        margin-top: 10%;
        position: static !important;
        width: 100%;
    }
    
    #zenklub:hover{
        transition: all 0.5s linear;
        opacity: 1;
    }
    
    #zenklubHover{
        display: none;
        width: 83%;
    }

    #terapia{
        text-align: center;
    }
    
    #quest1{
        margin-top: 30%;
        padding-top: 0%;
    }
    
    #quest{
        margin-top: 3%;
        padding-bottom: 2.5%;
        padding-left: 0%;
        border-bottom: 1px solid rgb(186, 186, 186);
    }
    
    .textQuest{
        display: block;
        font-family: Century Gothic;
    }
    
    #setaBaixo1{
        display: none;
        width: 1.8%;
        right: 5%;
        margin-top: 0.2%;
    }
    
    #setaBaixo2{
        display: none;
        width: 1.8%;
        right: 5%;
        margin-top: 0.2%;
    }
    
    #setaBaixo3{
        display: none;
        width: 1.8%;
        right: 5%;
        margin-top: 0.2%;
    }
    
    
    .tituloQuest{
        font-family: EngraversGothic BT;
        font-size: 150%;
    }
    
    #outrasDuvidas{
        text-align: center;
        margin-top: 3%;
        padding-bottom: 2%;
        padding-left: 0%;
        border-bottom: 1px solid rgb(186, 186, 186);
    }
    
    .seta{
        display: none;
        width: 20%;
    }
    
    #botaoQuest{
        margin-left: 0%;
        margin-bottom: 20%;
    }
    
    #footer{
        position: absolute;
        left: 0px;
        width: 103%;
    }   
    
    #rodape{
        display: block;
    }

    #rodapeMobile{
        display: none;
        margin-left: 7%;
        width: 100%;
    } 
}
